
.logo{
    max-width: 150px;
}
.customer img{
border-radius: 50%;
border: 1px solid black;
position: absolute;
margin-top: 5px;
padding: 1px;
margin-bottom:px ;
margin-left: -90px;

}

.customer{
    padding-left: 50px;
    padding-top: 20px;
    border: 1px solid black;
    min-height: 355px;
    margin: 20px;
   
}

ul{
    list-style-type:none;
}

.ashbox{
    background-color: rgb(180, 193, 204);
    padding: 10%;
}
.noncolor_box{
    padding-top: 20px;
}
.to_centered_image{
    max-width: 550px;
}

.image_pad{
padding: 20px;
}
.navbar_pad{
margin-top: 60px;
margin-bottom: 60px;
}
.textSize{
    
}
.lower-footer{
    border-top: 2px solid black;
}
.none{
    display: inline;
}
.violet{
    color: #ffffff;
    background-color:hsl(280, 55%, 42%);
}
.violet_text{
    color:hsl(280, 55%, 42%) ;
}
/* div{
    border: 1px solid black;
} */
.div_font_sm{
    font-family: "Inter", sans-serif;
    letter-spacing: 2px;
    font-size: 14px;
}
.div_font_big{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
@media screen and (max-width:700px) {
    .none{
  display: none;
    }
   
}